@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

.navbar {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.navbar a{
    color:#212429;
    text-decoration: none;
}

.icono-menu {
    margin-left: 5px;
}

.moda a {
    padding: 16px;

}

.iconos a {
    padding: 16px;

}

.colecciones {
    margin: 8px;
    
}

h1 {
    font-family: "Montserrat", serif;
    padding: 16px;
}

.products {
    display: flex;
    justify-content: space-around;
    margin: 12px;
    width: 100%;
}

.images {
    padding: 10px;
    border-radius: 25px;

}

.informacion {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #212429;
    color: #ffffff;
    padding: 12px;
    margin: 12px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-item {
    text-align: left;
    display: flex;
    align-items: center;
}

.footer-icon {
    background-color: #ffffff;
    border: 8px;
    padding: 8px;
    border-radius: 25px;
}

.footer-item span {
    margin-left: 5px;
}

@media (max-width: 920px) {

    .moda {
        display: none;
    }

    .iconos {
        display: none;
    }

    .icono-menu {
        margin: 0 auto;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .products span{
        justify-content: space-between;
    }

    footer {
        flex-direction: column;
    }

    .footer-item {
        padding: 10px;
        border-bottom: solid 1px #ffffff;
        
    }

}